@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern-bg {
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #0890b232 0, #0890b232 1px, #fff 0, #fff 50%);
}
